* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
}
.progress b {
  color: #000000;
}

.progress {
  border-radius: 10px;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1 {
    text-align: center;
    color: #fff;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.adv {
  align-content: center;
}

img {
  vertical-align: middle;
  border-style: none;

}
/* popup style*/
.popup-container{
 
    text-emphasis-position: center;
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background: #000000b0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup-body{
    width: 350px;
    height: 200px;
    margin: 2% auto;
      background: #000000b0;
    border-radius: 20px;
    color: white;
}

@media (max-width: 512px){
    .popup-body{
        width: 310px;
        margin: 10% auto;
    }
}

.popup-img{
    width: 450px;
    height: 555px;
    margin: 8% auto;
}

.popup-img-close{
    cursor: pointer;
    width: 38px;
    height: 38px;
    background: white;
    color: black;
    float: right;
    padding: 5px;
    border-radius: 100px;
    position: absolute;
    margin-left: -7px;
    margin-top: -20px
}

@media (min-width: 993px){
    .popup-img-close{
        margin-left: 42px;
        margin-top: -12px;
    }
}

.popup-header{
    height: 48px;
    width: 100%;
    background: blue;
    float: left;
    border-radius: 20px 20px 0px 0px;
}

.popup-header h6{
    margin: 20px;
}

.popup-content{
    width: 100%;
    height: auto;
    padding: 15px 39px;
    float: left;
    font-size: 14px;
    background: black;
    opacity: 0.9;
}
}

.col2{
    width: 50%;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
    margin-left: 50px;
}

.mrtop10{
    margin-top: 10px;
}

.hr{
    width: 100%;
    height: 2px;
    background: #333333;
    float: left;
}

.popup-label{
    width: 100%;
    float: left;
    background: red;
    padding: 10px 15px;
    font-size: 12px;
}

.popup-close{
    cursor: pointer;
    width: 36px;
    height: 36px;
    background: white;
    color: black;
    float: right;
    padding: 5px;
    border-radius: 100px;
    position: absolute;
    margin-top: -10px;
    margin-left: -9px;
}

.bg-blue-button{
    background: blue;
}

.bg-black-button{
    background: black;
}

.popip-button{
    cursor: pointer;
    width: 50%;
    float: left;
    height: 40px;
    border-radius: 0px 0px 0px 20px;
}
.popip-button:hover{
    background: red;
}
.popip-button1{
    cursor: pointer;
    width: 50%;
    float: left;
    height: 40px;
    border-radius: 0px 0px 20px 0px;
}
.popip-button1:hover{
    background: red;
}

.title {
    display: flex;
    justify-content: center;
}

.title-text {
    color: white;
    font-size: 2.5rem;
}

.slot {
  display: block;
}

.slot .slot-sidebar {
  padding-right: 10px;
  padding-left: 0;
  margin-top: 5px;
  background-color: black;
  float: none !important;
  width: 100% !important;
  flex: none !important;
  max-width: 100% !important;
  padding-right: 0 !important;
}

.btn-provider:hover {
  background-color: #012604;
}

.slot-sidebar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: nowrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.copyright {
  background-color: #FFD700;
}

.slot-sidebar-nav > li {
  border-bottom: 1px solid #0092b1;
  width: 100%;
  position: relative;
  display: block;
  border-bottom: none;
  padding: 6px;
    background: radial-gradient(circle 214px at 46.5% 54.2%,#fcc100 0,#000 96%);
}

.slot-sidebar-nav > li > a {
  color: #fff;
  font-size: 13px;
  padding: 7px 10px;
  display: block;
  background-color: black;
}

.btn-provider {
  text-align: center;
  display: block;
  text-decoration: none;
}

.mySlides {
    display: block;
}

.enter {
  display: none;
}

.btn-provider span {
  position: unset;
}

.active {
  background-color: #0092b1;
}

.slot .content {
  float: none;
  width: 100%;
  padding: 0;
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #121212;
}

.enter {
    display: none;
}

.btn-provider span {
    position: absolute;
    transform: translateY(10px);
}

.active {
    background-color:#ff00b2;background-image:linear-gradient(to bottom,#ff00b2,black);
}

.slot .content {
    float: right;
    width: 80%;
    padding: 0;
    flex: 0 0 80%;
    max-width: 80%;
}

.wrapper {
    width: 100%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.card {
    float: left;
    width: 20%;
    background: transparent;
    border: none;
    text-align: center;
    position: relative;
}

.card-content {
background: rgba( 255, 255, 255, 0.25 );
    margin: 5px;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    overflow: hidden;
    position: relative;
}

.percent {
    height: 27px;
    display: flex;
    overflow: hidden;
    line-height: 0;
    font-size: 0.75rem;
background: rgba( 255, 255, 255, 0.25 );
    position: relative;
    z-index: 1;
}

.percent p {
    z-index: 15;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    transform: translateY(14px);
    color: black;
}

.percent-bar {
    /* background-color: #ffc107; */
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    /* background-color: #007bff; */
    transition: width 0.6s ease;
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
    /* animation: ; */
    z-index: 10;
}

.yellow{
        background: linear-gradient(to right, #ffcc80 1%, #ff9900 31%);
    
}
.green{
        background: linear-gradient(to right, #ccffcc 1%, #33cc33 31%);
}
.red{
    background: linear-gradient(to right, #ff9966 0%, #ff00b2 100%);
}

.hover-btn {
    position: absolute;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.65);
    transition: all 0.45s ease-in-out;
    z-index: 10;
    width: 100%;
}

.play-btn {
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 25% auto;
    padding: 8px;    
    background-color:#fcc100;background-image:linear-gradient(to bottom,#fcc100,black);
    border-radius: 10px;
}

.img-zoom {
    transition: all 0.45s ease-in-out;
    height: 141px;
}

.hover-btn:hover {
    opacity: 100%;
}

.hover-btn:hover ~ .img-zoom {
    transform: scale(1.2);
    position: relative;
}

.short {
  display: none;
}

.next-btn {
    display: block;
    width: 30%;
}


.next-btn {
    background-color: #37c92c;
    border: none;
    color: #fff;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .slot-sidebar-nav {
        flex-wrap: nowrap;
    }
    .slot-sidebar {
        float: none !important;
        width: 100% !important;
        flex: none !important;
        max-width: 100% !important;
        padding-right: 0 !important;
    }
    .content {
        float: none !important;
        width: 100% !important;
        flex: none !important;
        max-width: 100% !important;
    }
    .card {
        width: 33.3% !important;
    }
    .hover-btn:hover {
        opacity: 0;
    }

    .hover-btn:hover ~ .img-zoom {
        transform: scale(1);
        position: relative;
    }
    body {
        background: #373737;
    }
    .btn-provider:hover {
  background-color: #644c1c;
}

  .slot-sidebar-nav li {
    border-bottom: none;
  }
  .slot-sidebar-nav li a p {
    font-size: 5px;
  }
  .img-zoom {
    height: auto;
  }
  .slot-sidebar-nav li a img {
    height: 17.5px !important;
  }
    .img-zoom {
        height: auto;
    }
    .next-btn {
        display: block;
    }
    .res-bar {
        display: none;
    }
}

.btn {
  background: linear-gradient(#FFD700, #f5f5f5);
  display: inline-block;
  padding: 9px 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  font: 400 22px arial;
  text-shadow: #000000;
  width: 100%;
  color: #000000;
  letter-spacing: 1.5px;
}

.btn-log {
  animation: blinking 0.5s infinite;
  transition: all 0.4s;
}

.btn-daf {
  animation: blinking 0.3s infinite;
  transition: all 0.4s;
}

.btn-announce {
  animation: blinking 0.2s infinite;
  transition: all 0.4s;
}